:root {
    --primary-color: rgb(94, 48, 161);
    --secondary-color: rgb(255, 92, 19);
    --tertiary-color: rgb(17, 12, 41);
}

* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 1px;
}

body {
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
}

.App {
    left: 0;
    margin: 0;
}

#root {
    margin: 0;
    padding: 0;
}

#intro {
    font-size: 2em;
    line-height: 1;
    margin: 125px 210px 15px;
    padding: 1em 1em 0.5em;
    animation: roll-up 1s ease-in-out;
    width: 45%;
    color: var(--primary-color);
}

#container {
    max-width: 950;
    margin: 0 50px;
    border-radius: 8px;
}

.done {
    text-decoration: line-through;
}
/* 
p button {
    border: 2px;
    padding: 0.6em 1.2em;
    margin: 20px 0px;
    background: var(--tertiary-color);
    color: white;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    cursor: pointer;
    border-radius: 7px;
} */

p button:hover {
    background-color: var(--secondary-color);
    color: black;
}

p button:active {
    box-shadow: 1px 1px 2px black;
}

.title-input {
    font-size: 18px;
    height: 50px;
    padding: 0 20px;
    border-radius: 7px;
    border: none;
    margin: 0px 20px 0px 250px;
}

p input, div input:hover { 
    box-shadow: 2px 2px 0px gray;
}

p input, div input:focus {  
    box-shadow: 2px 2px var(--secondary-color);
}

div {
    margin: 0 3em;
}

div input {
    font-size: 16px;
    height: 32px;
    padding: 0 20px;
    border-radius: 7px;
    border: none;
    margin: 0 5px;
}

h1 button {
    margin: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-width: 1px;
    border-radius: 7px;
    font-size: 16px;
    padding: 6px 10px;
}

.ok-button:hover {
    color: white;
    background-color: var(--tertiary-color);
}

ul button {
    margin: 5px;
}

ul li::marker {
    font-size: 14px;
}

/*Ícones dos botões*/
/* .edit-button, .delete-button, .erase-button, .done-button, */
.delete-button, .edit-button, .done-button, .erase-button {
    border: none;
}
.button-add, .button-add-task {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-repeat: no-repeat;
    background-size: contain;
    background: var(--secondary-color);
    border-radius: 9px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

.button-add {
    height: 45px;
    align-items: center;
} 

.button-add-task {
    height: 30px;
    margin: 0px 10px 0;
    align-items: tpp ;
}

.button-add:hover, .button-add-task:hover {
    background: var(--primary-color);
}

.todo-list {
    margin: 10px 300px;
}
/* .edit-button {
    background-image: url('./assets/images/edit.png');
    width: 25px;
    height: 25px;
} */
/* 
.delete-button {
    background-image: url('./assets/images/delete.png');
    width: 25px;
    height: 25px;
    border: none;
}

.erase-button {
    background-image: url('./assets/images/delete.png');
    background-color: transparent;
    width: 20px;
    height: 20px;
}

.done-button {
    background-image: url('./assets/images/checked.png');
    background-color: transparent;
    width: 20px;
    height: 20px;
}

.button-add {
    background-image: url('./assets/images/add.png');
    background-color: transparent;
    width: 20px;
    height: 20px;
} */
footer {
    width: 100%;
    background-color: rgb(93, 53, 161);
    text-align: right;
    align-items: center;
    height: 75px;
    position: fixed;
    bottom: 0;
    right: 0%;
}

footer h6 {
    margin: 15px 20px;
    line-height: 0.9em;
    font-size: xxx-small;
    font-weight: lighter;
}

footer a {
    text-decoration: none;
    color: rgb(225, 224, 65);
    font-size: small;
    text-align: right;
    display: inline-block;
    bottom: 0; 
    top: 0;
    width: 40%;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(255, 92, 19);
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 95px;
    box-shadow: 0 4px 20px rgba(119, 119, 119, 0.7);
    position: fixed;
    top: 0;
    left: 0;
}

header a {
    text-decoration: none;
    color: rgb(60, 60, 60);
    font-size: 17px;
    font-weight: lighter;
    text-align: left;
    margin: 20px;
}

header a:hover {
    text-decoration: underline;
}

footer h6 {
    padding: 0px;
}

button.edit-button {
    margin-right: 0px;
    padding-right: 0px; 
}

#container.h1 {
    font-size: smaller;
}

@keyframes roll-up {  /*animação do início*/
    0% {
      opacity: 0;
      transform: translateY(10%);  /*início da animação*/
    }
    100% {
      opacity: 1;
    }
  }

