:root {
    --primary-color: rgb(94, 48, 161);
    --secondary-color: rgb(255, 92, 19);
    --tertiary-color: rgb(17, 12, 41);
}

* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 1px;
}

body {
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
}

.App {
    left: 0;
    margin: 0;
}

#root {
    margin: 0;
    padding: 0;
}

#intro {
    font-size: 2em;
    line-height: 1;
    margin: 125px 210px 15px;
    padding: 1em 1em 0.5em;
    animation: roll-up 1s ease-in-out;
    width: 45%;
    color: var(--primary-color);
}

#container {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    border-radius: 8px;
}

.done {
    text-decoration: line-through;
}

p button:hover {
    background-color: var(--secondary-color);
    color: black;
}

p button:active {
    box-shadow: 1px 1px 2px black;
}

.title-input {
    font-size: 18px;
    height: 50px;
    padding: 0 20px;
    border-radius: 7px;
    border: none;
    margin: 0px 20px 0px 20px;
}

p input, div input:hover { 
    box-shadow: 2px 2px 0px gray;
}

p input, div input:focus {  
    box-shadow: 2px 2px var(--secondary-color);
}

div {
    margin: 0 3em;
}

button {
    cursor: pointer;
}

div input {
    font-size: 16px;
    height: 32px;
    padding: 0 20px;
    border-radius: 7px;
    border: none;
    margin: 0 5px;
}

h1 button {
    margin: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-width: 1px;
    border-radius: 7px;
    font-size: 16px;
    padding: 6px 10px;
}

.ok-button:hover {
    color: white;
    background-color: var(--tertiary-color);
}

ul button {
    margin: 5px;
}

ul li::marker {
    font-size: 14px;
}

/*Ícones dos botões*/
.delete-button, .edit-button, .done-button, .erase-button {
    border: none;
}

.button-add, .button-add-task {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-repeat: no-repeat;
    background-size: contain;
    background: var(--secondary-color);
    border-radius: 9px;
    border: none;
    padding: 10px 20px;
}

.button-add {
    height: 50px;
    align-items: center;
    margin-left: 200px;
} 

.button-add-task {
    height: 33px;
    margin: 0px 10px 0;
    padding-bottom: 10px;
    align-items: top ;
}

.button-add:hover, .button-add-task:hover {
    background: var(--primary-color);
}

.todo-list {
    display: flex;
    flex-direction: column;
    margin: 10px 300px;
}

#title-button, .list-button {
    display: flex;
    flex-direction: row;
}

footer {
    width: 100%;
    background-color: rgb(93, 53, 161);
    text-align: right;
    align-items: center;
    height: 55px;
    position: fixed;
    bottom: 0;
    right: 0%;
}

footer h6 {
    margin: 8px 15px;
    line-height: 8px;
    font-weight: lighter;
}

footer a {
    text-decoration: none;
    color: rgb(225, 224, 65);
    font-size: 10px;
    text-align: right;
    display: inline-block;
    bottom: 0; 
    top: 0;
    width: 40%;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(255, 92, 19);
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 95px;
    box-shadow: 0 4px 20px rgba(119, 119, 119, 0.7);
    position: fixed;
    top: 0;
    left: 0;
}

header a {
    text-decoration: none;
    color: rgb(60, 60, 60);
    font-size: 17px;
    font-weight: lighter;
    text-align: left;
    margin: 20px;
}

header a:hover {
    text-decoration: underline;
}

footer h6 {
    padding: 0px;
}

button.edit-button {
    margin-right: 0px;
    padding-right: 0px; 
}

#container .todo-list h1 {
    min-width: 1000px;
    font-size: 32px;
}

ul.tasks  {
    font-size: 20px;
    padding: 15px 1px 1px 120px;
}

.todo-list .title-input {
    height: 40px;
    width: 300px;
    margin: 12px 0px 11px 0;
}

@keyframes roll-up {  /*animação do início*/
    0% {
      opacity: 0;
      transform: translateY(10%);  /*início da animação*/
    }
    100% {
      opacity: 1;
    }
  }

